{% extends "base/base.html" %} {% load static %} {% load static i18n %} {% block forgot %}
<div class="clearfix"></div>
<div class="wrapper-page">
    <div class="text-center">
        <div class="user-img">
            <img src="{% static 'assets/images/logo-1.png' %}" alt="user-img" title="Mat Helme" class=" img-thumbnail img-responsive">
        </div>
    </div>
    <div class="m-t-40 card-box">
        <div class="text-center">
            <h4 class="text-uppercase font-bold m-b-0">{% trans 'Forgot Password' %}</h4>
            <p class="text-muted m-b-0 font-13 m-t-20">{% trans "Enter your email address and we'll send you an email with Reset Password Link." %}</p>
        </div>
        <div class="p-20">
            <form class="form-horizontal m-t-20" action="/login/forgot" data-parsley-validate novalidate method="post">
                {% csrf_token %}
                <input type="hidden" value="34556" />
                <div class="form-group">
                    <div class="col-xs-12">
                        <input
                            oninvalid="InvalidMsg(this);"
                            oninput="InvalidMsg(this);"
                            id="email"
                            class="form-control"
                            name="email"
                            type="email"
                            required
                            placeholder="{% trans 'Enter Register Email' %}"/>
                        <p id="msg"></p>
                    </div>
                </div>
                <div class="form-group text-center m-t-20 m-b-0">
                    <div class="col-xs-12">
                        <button class="btn btn-primary btn-block waves-effect waves-light po_button" type="submit">{% trans 'Submit' %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- end card-box -->
    <div class="row">
        <div class="col-sm-12 text-center">
            <p class="text-muted">
                {% trans 'Already have account?' %}<a href="/" class="text-primary m-l-5"><b class="dg-logo">{% trans 'Sign In' %}</b></a>
            </p>
        </div>
    </div>
</div>
<!-- end wrapper page -->
{% endblock %}
