{% extends 'base/base.html' %}
{% load static i18n %}
{% block css %}
{% endblock css %}
{% block content %}
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">{% trans 'Home' %}</a></li>
            <li class="breadcrumb-item active"><a href="{{request.path}}">{% trans 'Settings' %}</a></li>
        </ol>
    </nav>
</div>

<div class="container-fluid">
    <div class="card-box">
        <h4 class="header-title m-t-0 m-b-10">{% trans 'Change Password Form' %}</h4>
        <hr>
        <form action="{{request.path}}" name="reset" onsubmit="return validateReset()" method="post" data-parsley-validate enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-12">
                    <div class="form-group" id="msg">
                        <label for="old">{% trans 'Old Password' %}*</label>
                        <input id="old" name="oldPassword" data-parsley-palindrome type="text" class="form-control" required placeholder="{% trans 'Enter Old Password' %}">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label for="password1">{% trans 'New Password' %} *</label>
                        <input id="password1" name="password" type="password" class="form-control" minlength="8" maxlength="15" required placeholder="{% trans 'Enter New Password' %}">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label for="passWord2">{% trans 'Confirm Password' %} *</label>
                        <input id="passWord2"  name="cPassword" type="password" class="form-control" data-parsley-equalto="#password1" minlength="6" maxlength="15" required placeholder="{% trans 'Enter Confirm Password' %}">
                    </div>
                </div>
                <div class="">
                    <div class="col-12">
                        <div class="checkbox checkbox-inverse">
                            <input id="checkbox01" onclick="passwordShow()" type="checkbox">
                            <label for="checkbox01">{% trans 'Show Password' %}</label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="text-right m-b-0">
                        <button class="btn btn-primary waves-effect waves-light" type="submit">
                            {% trans 'Submit' %}
                        </button>
                        <a href="{% url 'dashboard' %}" class="btn btn-secondary waves-effect waves-light m-l-5">
                            {% trans 'Cancel' %}
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block js %}
    <script src="{% static 'assets/js/custom.js' %}"></script>
{% endblock js %}